# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# Telethon Sessions
*.session
*.session-journal

# Downloaded files and databases
downloads/
*.db
config.json
*.png
*.jpg
*.jpeg

